---
interface Props {
  lang: "en" | "es";
}

const props = Astro.props;

import EN from "~/locales/en.json";
import ES from "~/locales/es.json";
const services =
  props.lang === "es" ? ES.main.index.services : EN.main.index.services;

import Section from "~/components/section.astro";
---

<Section class="Services" id="services" title={services.section}>
  <div class="Services-container">
    {
      services.services.map((service) => (
        <div class="Services-service">
          <img src={service.image} alt={service.title} />
          <div class="Services-service-content">
            <h3>{service.title}</h3>
            <p>{service.content}</p>
          </div>
        </div>
      ))
    }
  </div>
</Section>

<style>
  .Services-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .Services-service {
    width: 280px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #272727;
  }

  .Services-service img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .Services-service-content {
    width: calc(100% - 1rem);
    padding: 0.5rem;
  }

  .Services-service-content h3 {
    font-size: 1.3rem;
    color: #14e956;
  }

  .Services-service-content p {
    margin-top: 0.7rem;
    font-size: 1rem;
    color: #fff;
  }
</style>
