---
interface Props {
  title: string;
  lang: "en" | "es";
}

const props = Astro.props;

import EN from "../locales/en.json";
import ES from "../locales/es.json";

const layout = props.lang === "es" ? ES.layout : EN.layout;

import Header from "~/components/header.astro";
import Footer from "~/components/footer.astro";
import Main from "~/components/main.astro";
---

<!doctype html>
<html lang={props.lang}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
    <meta name="description" content={layout.description} />
  </head>
  <body>
    <Header lang={props.lang} />
    <Main><slot /></Main>
    <Footer lang={props.lang} />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter";
    src: url("/Inter-VariableFont_slnt,wght.ttf") format("ttf");
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #050810;
    font-family: "Inter", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #808080;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #11cf4d;
    border-radius: 10px;
  }

  .Button {
    color: #333333;
    line-height: 1.3;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 1.4rem;
    text-decoration: none;
    width: max-content;
    font-weight: bold;
    box-shadow: 0 1px 1px #fff;
  }

  ::-webkit-scrollbar-thumb:hover,
  .Button {
    background-color: #14e956;
  }

  .Subtitle {
    border-radius: 40px;
    width: max-content;
    outline: 2px solid #14e956;
    padding: 0.5rem 0.8rem;
    max-width: calc(100vw - 1.6rem);
  }

  .Subtitle h4,
  .Subtitle h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    line-height: 1.5;
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    display: block;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #14e956;
    color: #272727;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    position: absolute;
    padding: 3px 5px;
    bottom: -1.6em;
    left: 0;
    white-space: nowrap;
    font-weight: 900;
    opacity: 0;
    border: 1px solid #ffffff;
    z-index: 99999;
    display: none;
    border-radius: 6px;
  }

  [data-title] {
    position: relative;
  }
</style>
